<head>
  <style>
  table {
    width: 100%;
    text-align: center;
  }
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <h3>Welcome to the Rails Engine Business Analytics</h3>
  <table>
    <tr>
      <th>Endpoints & Queries</th>
      <th>What you will get</th>
    </tr>
    <tr>
      <td> GET /api/v1/merchants<br>
          ?per_page=1+ & page=1+</td>
      <td> This will return all merchants, default 20 per page.</td>
    </tr>
    <tr>
      <td> GET /api/v1/merchants/{merchant_id}</td>
      <td> This will return information for a single merchant</td>
    </tr>
    <tr>
      <td> GET /api/v1/merchants/{merchant_id}/items</td>
      <td> This will return all items belonging to a specific merchant</td>
    </tr>
    <tr>
      <td> GET /api/v1/items<br>
          ?per_page=1+ & page=1+</td>
      <td> This will return all items, default 20 per_page</td>
    </tr>
    <tr> 
      <td>GET /api/v1/items/{item_id}</td>
      <td> This will return information for a specific Item.</td>
    </tr>
    <tr>
      <td>POST /api/v1/items<br>
        Parameters required to create item:<br>
        name=""&description=""&unit_price=""&merchant_id={merchant_id}</td>
      <td>This endpoint allows you to create an item, all parameters mentioned are required.</td>
    </tr>
    <tr>
      <td>PATCH /api/v1/items</td>
      <td>This allows you to edit existing item, you only need to include parameter you want to change</td>
    </tr>
    <tr>
      <td>DELETE /api/v1/items/{item_id}</td>
      <td>This will delete specified item</td>
    </tr>
    <tr>
      <td>GET /api/v1/items/{item_id}/merchant</td>
      <td> Return a merchants information for a specified Item.</td>
    </tr>
    <tr>
      <td>GET /api/v1/merchants/find OR find_all<br>
          ?name="partial search"</td>
      <td>These endpoints find one or all merchant(s), can take partial searches.</td>
    </tr>
    <tr>
      <td>GET /api/v1/items/find OR find_all</br>
        ?name="search" OR ?min_price= & max_price=</td>
      <td>Item search allows you to search names, and also search for items with a min and/or max price queries</td>
    </tr>
    <tr>
      <td>GET /api/v1/revenue/merchants<br>
          ?quantity=1+</td>
      <td>This returns merchants by top revenue in descending order, limited by a quantity</td>
    </tr>
    <tr>
      <td>GET /api/v1/merchants/most_items<br>
          ?quantity=1+</td>
      <td> This returns merchants by most items sold in descending order, limited by quantity</td>
    </tr>
    <tr>
      <td>GET /api/v1/revenue<br>
        ?start={start_date} & end={end_date} Dates should be in Year/month/day</td>
      <td>This calculates all revenue for all merchants between the specified dates</td>
    </tr>


  </table>
</body>
